<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" style="height: auto;">
	<!-- Sidebar user panel -->
	<div class="user-panel">
		<div class="pull-left image">
			<img src="assets/dist/img/logo.png" class="attachment-img" alt="User Image">
		</div>
		<div class="pull-left info">
			<p>세종청사어드민</p>
		</div>
	</div>
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul class="sidebar-menu tree" data-widget="tree">
		<li class="header" style="color:azure"><b>지능형 광선로 감시 시스템</b></li>
		<li class="active treeview">
			<a href="#">
				<i class="fa fa-th"></i> <span>시스템 관리</span>
			</a>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>함체 관리</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li><a href="index.html"><i class="fa fa-circle-o"></i> 함체 정보</a></li>
				<li><a href="index2.html"><i class="fa fa-circle-o"></i> 모니터링</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-files-o"></i>
				<span>선로 관리</span>
			</a>
			<ul class="treeview-menu">
				<li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> 선로정보 Std.</a></li>
				<li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> 선로정보 Ext.</a></li>
				<li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> 절체 모니터링</a></li>
				<li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> 통계그래프</a></li>
			</ul>
		</li>
		<li class="treeview">
			<a href="#">
				<i class="fa fa-dashboard"></i> <span>이력 관리</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
			<ul class="treeview-menu">
				<li><a href="index.html"><i class="fa fa-circle-o"></i> 제어 이력</a></li>
				<li><a href="index2.html"><i class="fa fa-circle-o"></i> 알림 이력</a></li>
			</ul>
		</li>
	</ul>
</section>
<!-- /.sidebar -->
