<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initialscale=1">
	
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/smoothness/jquery-ui.css" type="text/css" media="all">
	
	<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.0/jquery-ui.min.js"></script>
	<!-- <script src="https://unpkg.com/vue@2.3.3"></script> -->
	
	
	<title>RMTECH TEST
	</title>
</head>
<body>
<div class="wrapper" style="height: auto;" ng-if="!pageInfo.onePage">
    <header></header>
    
    <sidebar></sidebar>
    
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><span data-ng-bind="pageInfo.title"></span>
                <small data-ng-bind="pageInfo.description"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active" data-ng-bind="pageInfo.title"></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <content></content>
        </section>
        <!-- /.content -->
    </div>
    <footer></footer>
</div>


<script src="/js/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="/js/require.js"></script>
<script src="/js/app-router.js"></script>
<script src="/js/index/app.js"></script>

</body>
</html>