<style>
.hidden{
	visibility:hidden;
}
</style>
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img ng-src="{{user.profileImg}}" onerror="this.src='/images/user.png'" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{user.name}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li ui-sref-active="active"><a ui-sref="admin.dashboard"><i class="fa fa-bar-chart"></i><span>대시보드</span></a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-circle-o"></i><span>매출</span>
                <span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
            </a>
            <ul class="side_bar_items treeview-menu">
                <li ui-sref-active="active"><a ui-sref="admin.salesTotal">매출집계</a></li>
            </ul>
        </li>
    </ul>
</section>
