<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper" style="height: auto;">
	<header class="main-header" >
		<app-header></app-header>
	</header>
	<aside class="main-sidebar">
		<app-menubar></app-menubar>
	</aside>
	<div class="content-wrapper">
		<app-section>
		</app-section>
	</div>
	<footer class="main-footer">
		<app-footer></app-footer>
	</footer>
</div>
